/*-----------------------------------------------------------*/
/* General page settings */
html, body, #mapid {
  height: 100%;
  width: 100%;
  min-width: 384px;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: unset;
}
/*-----------------------------------------------------------*/
/* Leafletjs map styling */
#mapid {
  z-index: 1;
}

span.stars, span.stars span {
    display: block;
    background: url('./../img/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

span.difficulty {
    font-size: 10px;
    font-style: italic;
}

/*-----------------------------------------------------------*/
/* Page layout */
.alignCenter {
  display: flex;
  margin: auto;
  justify-content: center;
}

#siteLogo {
  position: fixed;
  z-index: 25;
  bottom: 15px;
  left: 15px;
  max-width: 50px;
}

#refreshSitesButton{
  display: block;
  padding: 4px;
  background-color: rgba(89, 99, 183,0.5);
  text-decoration: none;
  color: white;
  font-size: 14px;
  z-index: 25;
  position: fixed;
  transition: 0.3s;
  top: 10px;
  right: 25%;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(10, 18, 91, 0.2);
  border-width: 1.5px;
}

#refreshSitesButton:hover{
  font-size: 16px;
}

@media screen and (max-width:1010px){
  #refreshSitesButton{
    max-width: 50px;
    word-wrap: normal;
    right:5px;
    padding: 8px;
  }

  .profileContainer {
    bottom: 100px;
  }

  .menuContainer{
    max-width: 300px;
  }
}

/*-----------------------------------------------------------*/

/* Profile Navigation Styling */
.profileContainer {
  z-index: 9;
  position: fixed;
  margin-top: 20px;
  right: 10px;
}

#profileImg {
  border-radius: 50%;
  float: right;
  margin-right: 20px;
  width: 70px;
  min-height: 70px;
  min-width: 70px;
  border-style: solid;
  border-color: rgba(10, 18, 91, 0.6);
  border-width: 1px;
  cursor: pointer;
}

#profileContents {
  margin-top: 73px;
  transition: 0.3s;
  visibility: hidden;
  background: #fffcfcad;
  min-width: 0;
  max-width: 0;
  height: 0;
  padding-right: 20px;
  padding-inline-start: 0px;
  border-radius: 20px;
}

.profileButton {
  text-decoration: none;
  color: #555555;
  list-style-type: none;
  display: block;
  margin: auto;
  padding: 10px;
  transition: 0.3s;
  padding-right: 20px;
}

.profileButton:hover{
  font-size: 20px;
  color: #0a125b;
}
