@font-face {
  font-family: VAGRoundedThin;
  src: url("fonts/VAGRounded-Thin.otf") format("opentype");
}

@font-face {
  font-family: VAGRoundedRegular;
  src: url("fonts/VAGRoundedBT-Regular.otf") format("opentype");
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Vertical Seperator */
.vl {
  border-left: 2px solid #bfbfbf;
  margin-left: 50px;
  margin-right: 50px;
  height: 200px;
}

.padFirst {
  margin-top: 225px;
}

body {
  font-family: VAGRoundedThin !important;
}

header {
  height: 42px;
  z-index: -10;
}

.titleImage {
  -webkit-box-sizing: initial;
  box-sizing: initial;
  padding: 25px;
  height: 70px;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

/* Start of custom search bar styling */
.searchbar {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 550px !important;
  border-style: solid;
  border-radius: 100px;
  border-color: #BFBFBF;
  border-width: 1.5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.08s linear;
}

.searchbar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.08s linear;
}

.searchbar:focus-within {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.08s linear;
}

.searchbar::before {
  content: "r/";
  color: red;
  font-family: VAGRoundedThin;
  font-size: 24px;
  margin-left: 15px;
}

.input, .input:active {
  height: 80% !important;
  margin: initial !important;
  padding-left: 2px !important;
  flex-grow: 2;
  background-color: transparent !important;
  border: transparent !important;
  outline: none !important;
  font-family: VAGRoundedThin !important;
  font-size: 24px !important;
  transition: initial !important;
}

.searchbutton {
  outline: none !important;
  float: right;
  padding-left: 12px;
  padding-right: 12px;
  height: 22px;
}

/* End of custom search bar styling */

.fieldText {
  display: flex;
  align-items: center;
  height: 40px;
  border-style: solid;
  border-radius: 100px;
  border-color: #BFBFBF;
  border-width: 1.5px;
  margin: 5px;
  padding-left: 15px;
}


/* Start of filter buttons */
.search-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.filter-icon {
  height: 20px !important;
  margin-right: 10px;
}

/* CLEAR INPUT SUBMIT STYLE */
.clearBut input {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.rapButton {
  width: auto !important;
  padding: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  text-transform: initial !important;
  font-family: VAGRoundedRegular !important;
  font-size: 16px !important;
  color: #4F4F4F !important;
  border-radius: 100px !important;
  transition: color 0.1s linear;
  cursor: pointer;
}

/* Submit button */
.rapSubmit {
  background-color: #FF5700;
  width: 100%;
}

.rapSubmit input {
  font-family: VAGRoundedRegular !important;
  font-size: 24px !important;
  color: #fff;
}

.rapButton>svg {
  fill: #4F4F4F;
  transition: fill 0.1s linear;
}

/* CHECKED STYLES */
.rapButton input[type=radio]:checked+svg {
  fill: #FF5700;
  transition: fill 0.1s linear;
}

input[type=radio]:checked~span {
  color: #ff5700;
  transition: color 0.1s linear;
}

#rising-icon {
  width: 22px !important;
}

/* End of filter buttons */

/* Start of side nav styling */
#sidenav-button {
  position: fixed;
  top: 14px;
  left: 8px;
  z-index: 10;
}

.slider-container .slider-parent {
  height: 100%;
  min-width: 100px;
  max-width: 500px;
  background: #FF5700;
  position: fixed;
  left: -250px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  transition: .2s all linear;
}

.slider-container .slider-parent.active {
  visibility: visible;
  pointer-events: inherit;
  transition: .2s all ease-in-out;
  z-index: 9;
  opacity: 1;
  left: 0;
}

.slider-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 115px;
  padding-left: 25px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-size: 32px;
  font-family: VAGRoundedThin;
}

.quicklink::before {
  content: "/";
}

.slider-parent a {
  color: #FFF;
  cursor: pointer;
}

.sidenav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #4F4F4F !important;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FFF !important;
  transition: .22s all ease-in-out;
}

/* Overwrite styling from materialize buttons */
.hamburger:hover, .hamburger:focus {
  background-color: transparent;
  transition: .22s all ease-in-out;
}

/* End of side nav styling */

/* Start of video area styling */

.card-content {
  padding-bottom: 10px;
  padding-top: 0px !important;
}

.upvoteTotal {
  padding: 1px;
  font-size: 17px;
  color: #4F4F4F;
}

.vote-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 1000px !important;
}

.vote {
  font-size: 2em !important;
}

svg:not(:root) {
  width: 15px !important;
}

.voteButtonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-left: -5px;
  padding-top: 20px;
}

.underVideo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vidPlace {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframePlace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* End of video area styling */

/* Start of comment area styling */
/* End of comment area styling */

/* Start of login area styling */
.title {
  font-size: 32px;
}

.login-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* End of login area styling */
