/* Stop button highlight on press */
.hamburger {
   outline: none !important;
}
/* Removes outline on click */
input:focus {
  outline: none !important;
}

/* Drop menu overrides */
.dropdown-trigger > a {
  text-transform: none !important;
  font-size: 32px;
  padding-left: 0 !important;
}

.dropdown-trigger:focus > a {
  background-color: transparent !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-color: "#2492DF" !important;
}
