/* TEMPORARY SETTING FOR DESIGN VISUALISATION */
div, p, img, h3{
  border: 1px dotted black;
}
/* END OF TEMPORARY SETTINGS */

.flex-container {
  display: -webkit-flex;
  display: flex;
}

html, body {
  height: 100%;
}

body {
  flex-direction: column;
}

header, footer {
  background-color:rgb(95, 57, 98);
  color: whitesmoke;
  flex-direction: row;
  align-items: center;
}

#site_logo {
  height: 6rem;
}

/* Header navbar style */
h1 {
  margin: auto 2rem;
}

.navigation {
  margin-left: auto; /* nav links stick to the right */
}

.navigation div {
  padding: 10px;
  color: whitesmoke;
  text-align: right;
  text-transform: uppercase;
}

.navigation div:hover {
  background-color: rgb(69, 41, 71);
}

.navigation a {
  color: whitesmoke;
  font-weight: bold;
  white-space: nowrap; /* prevents menu name from wrapping internally */
}

/* Footer */

footer {
  margin-top: auto; /* footer stick at the bottom of the page or is pushed further */
}

/* MAIN CONTENT */
.content {
  margin: 40pt 65pt;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-card {
  width: 47.5%;
  min-width: 40rem;
  max-width: 50rem;
  margin-bottom: 2%;
}

/* Left card */
.card-left {
  flex-direction: row;
}

.next-event {
  flex-direction: row;
  border: 1px solid #dcdcdc;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px #e8e8e8;
}

.event-logo {
  height: 18rem;
  width: 18rem;
}

.event-details {
  flex: 1; /* child to fill available space */
}

/* PREDICTIONS */

.card-predictions {
  flex-direction: column;
  flex: 1;
}

.stage-header {
  flex: 1;
  text-transform: uppercase;
}

.match-row {
  justify-content: space-around;
}








/* Responsive layout - tablet devices - stack menu */
@media screen and (max-width: 60rem) {
  .navigation {
    flex-direction: column;
  }
}  



/* nav buttons only - not used
.btn-navigation {
  margin:0 auto;
  height: 100%;
  background-color:transparent;
  border-color:whitesmoke;
  border-radius:0;
}*/