/* Navbar */
h1, h2 {
	text-align: center;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.navbar {
	text-transform: uppercase;
	font-size: 2em;
}
body {
	background-color: rgb(50,50,50);
	color: white;
}
section {
	padding: 50px;
}
footer {
	text-align: center;
}
footer a {
	text-decoration: underline;
	color: white;
}

/*map*/
#map {
	height: 480px; /* height must be set, else it won't display*/
}
#mapBox {
	background-color: black;
}

/* Aboutpage */
#aboutPage {
	margin-top: 60px;
	padding: 50px;
		height: 480px;
}

.columnleft {
  float: left;
  width: 30%;
}

.columnright {
  float: left;
	margin-top: -60px;
  width: 50%;
}

/************************************Circles************************************/
.touple:after {
	/*General style of circles - one circle in a row*/
  content: ""; /* all text is inside circle class */
  display: block; /* we want them to display as a block, so they are not overlaping*/

	/*This three lines makes the circles responsive*/
  width: 100%; /* On small screens the circle should take whole width*/
  height: 0; /* explained below */
  padding-bottom: 100%; /* padding-top and padding-bottom in percentages are based on width of element, with height of 0 it makes padding-bottom responsible for height*/


	/*style not related to how circles stack*/
  background-color: transparent;
  border-color: #FFDE59;
  border-radius: 50%; /* makes them circles */
  border-style: solid;
}
.circle {
  float: left;
  display: block;
  width: 100%;
	/*places the text in the middle */
  padding-top: 50%;
	margin-top: -2em;

	color:white;
  text-align: center;
	text-transform: uppercase;
  font-weight: bold;
	font-size:2.2vw; /*making the font responsive */
}
.circle p span {
	display:block;
}
@media only screen and (max-width: 350px) {
	.circle {
		font-size:2em; /* on small screens 2.2vw is to small */
	}
}

/*That's the code for screens bigger then 350 -  three circles in a row.*/
@media only screen and (min-width: 350px) {
  .touple {
    display: inline-block; /* makes them stack next to each other */
    position: relative;
    width: 30%; /* this is changing the width on bigger devices, but padding-bottom(height of element) is still relative to this so keeps elements circles */
    margin: 3% 0 0 2.5%; /*if we make the margin 3 (to make it closer to 100),
		the circles start to stack by two in one row - that's because of the circles border.
		Thus, this value should be changed if the thicknes of the border is changed */
  }
}
/* Colours for info inside circles*/
.green {
	color: #53803F;
}
.orange {
	color: #FFBD59;
}
.red {
	color: #FF5757;
}
.purple {
	color: #794A87;
}
.yellow {
	color: #FFDE59;
}


/**********************************************************************/
