<!DOCTYPE HTML>

<html>

<head>
  <meta charset="utf-8" />
  <title>Home</title>

  <!--CSS frameworks-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

  <!--CSS Stylesheets-->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  
  <!--Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./js/script.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</head>

<body class="flex-container">

  <header class="flex-container">
    <img class="site_logo" src="./images/acc_crest.png" title="Home">
    <h1>FOOTBALL PREDICTION LEAGUE</h1>
    <div class="navigation flex-container">
      <div>
        <a href="./index">Home</a>
      </div>
      <div>
        <a href="./predictions">Predictions</a>
      </div>
      <div>
        <a href="./login">Log in</a>
      </div>
    </div>

  </header>

  <div class="content flex-container">
    <div class="content-card">
      <h2>EVENTS</h2>
      <div class="next-event flex-container">
        <div class="event-logo flex-container">
          <img id="event-logo" src="./images/worldcup2018.png" title="World Cup 2018">          
        </div>
        <div class="event-details">
          <a href="./leaderboard.html"><h3>WORLD CUP 2018</h3></a>
          <p>Fri, 29 Jun 2018 - Sun, 15 Jul 2018</p>
          <p><b>TEST EVENT - NOW LIVE</b></p>
        </div>
      </div>
      
      <div class="next-event flex-container">
        <div class="event-logo flex-container">
          <img id="event_logo" src="./images/euro2020.png" title="Euro2020">
        </div>
        <div class="event-details">
          <a href=#><h3>EURO 2020</h3></a>
          <p>Fri, 11 Jun 2021 - Sun, 11 Jul 2021</p>
          <p><b>RELEASED IN 2021</b></p>
        </div>
      </div>
    </div>

    <div class="content-card">
      <h2>TWITTER FEED</h2>
      <div id="twitter-feed">
        <a class="twitter-timeline" href="https://twitter.com/EURO2020?ref_src=twsrc%5Etfw">Tweets by EURO2020</a> 
      </div>
    </div>

</div>

  <footer class="flex-container">
    <%- include ("../partials/footer") %>
  </footer>
</body>

</html>