<!DOCTYPE HTML>

<html>

<head>
  <%- include ("../partials/head") %>
</head>

<body class="flex-container">

  <header class="flex-container">
    <%- include ("../partials/header") %>
  </header>

  <div class="content flex-container">
    <div class="table">
      <table>
        <thead>
          <tr>
            <th></th>
            <th class="sticky-col">PLAYER</th>
            <th>TOTAL</th>
            <th>FRA vs ARG</th>
            <th>URU vs POR</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>COU vs COU</th>
            <th>FINALIST</th>
            <th>FINALIST</th>
            <th>WINNER</th>
          </tr>
        </thead>
        
        <tbody>
          <tr class="subheader">
            <td></td>
            <td class="sticky-col">Correct prediction:</td>
            <td>21</td>
            <td>1</td>
            <td>X</td>
            <td>2</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>1</td>
            <td>2</td>
            <td>X</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>X</td>
            <td>X</td>
            <td>1</td>
            <td>Finalist</td>
            <td>Finalist</td>
            <td>Winner</td>
          </tr>
          <tr>
            <td>55</td>
            <td class="sticky-col">Name Surname</td>
            <td></td>
            <td>2</td>
            <td>X</td>
            <td>2</td>
            <td>1</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>1</td>
            <td>X</td>
            <td>Finalist</td>
            <td>Finalist</td>
            <td>Winner</td>
          </tr>
          <tr>
            <td></td>
            <td class="sticky-col"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="sticky-col"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>


  <footer class="flex-container">
    <img class="site_logo" src="./images/acc_crest.png" title="Home">
  </footer>

</body>

</html>