<!DOCTYPE HTML>

<html>

<head>
  <%- include ("../partials/head") %>
</head>

<body class="flex-container">
  <header class="flex-container">
    <%- include ("../partials/header") %>
  </header>

  <div class="content content-column flex-container">
    <div class="content-card">
      <form class="form-user-access" id="form-login">
        <h2>LOGIN</h2>
        <input type="email" name="username" id="username" required="" placeholder="E-mail">
        <input type="password" name="password" id="password" required="" placeholder="Password">
        <input type="submit" value="Log in" id="username-submit" class="button">  
      </form>
      
    </div>   
    <div class="content-card">
      <form class="form-user-access" id="form-register" action="/register" method="POST">
        <h2>REGISTER</h2>
        <input type="text" name="first-name" id="first-name" required="" placeholder="First name">
        <input type="text" name="last-name" id="last-name" required="" placeholder="Last name">
        <input type="email" name="username" id="new-username" required="" placeholder="E-mail">
        <input type="password" name="password" id="new-password" required="" placeholder="Create password">
        <input type="password" id="confirm-password" required="" placeholder="Confirm password">
        <input type="submit" value="Register" id="register-submit" class="button" disabled>
      </form>
    </div>
  </div>

  <footer class="flex-container">
    <img class="site_logo" src="./images/acc_crest.png" title="Home">
  </footer>
</body>

</html>