<img class="site_logo" src="./images/acc_crest.png" title="Home">
<h1><%= pageHeader %></h1>
<div class="navigation flex-container">
  <div>
    <a href="./">Home</a>
  </div>
  <div>
    <a href="./predictions">Predictions</a>
  </div>
  <div>
    <a href="./login">Log in</a>
  </div>
</div>